@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Marvel Homes Selection Portal</h1>
    <p>Please select from the following areas</a>.</p>
</div>
