@model ProductCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Product Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model.ProductCategoryList) {
<div class=" card d-inline-block d-inline-flex " style="width:10rem">
    <h6 class="card-header" style="font-size:15px"> @item.Name</h6>
    <br />
    <div class="">
        <img src="@item.Image" style="height:100%; width:100%" />
    </div>
    <div class="card-footer">

    </div>
</div>
}
    